body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #bdbdbd;
}

a:link {
  color: #bdbdbd;
  text-decoration: none;
}

a:visited {
  color: #bdbdbd;
}

a:hover {
  color: #ffeb3b !important;
}

.active {
  color: #ffc107 !important;
}

/* clase para div con background image */
.bg-image {
  background-image: url('./assets/img/pikachu.jpeg');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

h1 {
  font-size: 5rem !important;
}

.sub-title {
  font-size: 2rem !important;
  color: #616161;
}
